In [1]:
import numpy as np
import scipy as sp
from matplotlib import pyplot as plt
import pandas as pd
%matplotlib inline

In [5]:
data = pd.read_csv('data-logistic.csv',header=None)

In [7]:
y = data.iloc[:,0]
x = data.iloc[:,1:]

In [135]:
C = 10.
k = 0.1
w = np.zeros(2)

In [246]:
def grad_l2(x,y,w,k,C):
    m = len(y)
    s = sum(1.0 - 1.0 / (1.0 + np.exp(-y * ((x * w).sum(axis=1))) ))
    w_new = w + y.dot(x) * s / m * k - k * C * w
    print y.dot(x) * s /m * k
    return w_new

In [256]:
an =[]

In [257]:
for i in range(len(y)):
    an.append(x.iloc[i,:]* y[i]*sum(1.0 - 1.0 / (1.0 + np.exp(-y * ((x * w).sum(axis=1))) )))
print an

[1    68.042220
2    14.198886
Name: 0, dtype: float64, 1    204.446039
2    252.972529
Name: 1, dtype: float64, 1    127.857979
2    -76.816025
Name: 2, dtype: float64, 1    236.710860
2    194.733145
Name: 3, dtype: float64, 1     87.037190
2    246.794357
Name: 4, dtype: float64, 1    149.062772
2    -68.205110
Name: 5, dtype: float64, 1    231.058312
2    232.038050
Name: 6, dtype: float64, 1      6.926900
2   -150.586962
Name: 7, dtype: float64, 1    88.350994
2    84.547697
Name: 8, dtype: float64, 1     71.66584
2    208.32998
Name: 9, dtype: float64, 1    16.551696
2   -50.784840
Name: 10, dtype: float64, 1    15.077982
2   -43.013770
Name: 11, dtype: float64, 1     -8.230335
2    118.499950
Name: 12, dtype: float64, 1   -176.367182
2    110.767808
Name: 13, dtype: float64, 1    161.330659
2    183.006940
Name: 14, dtype: float64, 1   -119.765631
2     66.175972
Name: 15, dtype: float64, 1      6.829304
2    108.624025
Name: 16, dtype: float64, 1    119.243860
2    178.953393
Name: 17, dtype: float64, 1    214.939403
2    115.787860
Name: 18, dtype: float64, 1    311.159776
2    219.640874
Name: 19, dtype: float64, 1   -85.264836
2    62.194625
Name: 20, dtype: float64, 1   -1330.224522
2    -468.738219
Name: 21, dtype: float64, 1     86.366816
2    110.318860
Name: 22, dtype: float64, 1    48.537514
2    75.283516
Name: 23, dtype: float64, 1   -157.888245
2    -17.211853
Name: 24, dtype: float64, 1   -50.772464
2    -6.841949
Name: 25, dtype: float64, 1    214.377319
2    261.375496
Name: 26, dtype: float64, 1    301.048098
2    334.232037
Name: 27, dtype: float64, 1    51.420848
2   -32.686089
Name: 28, dtype: float64, 1    -85.096181
2   -126.548621
Name: 29, dtype: float64, 1    39.990201
2    44.715554
Name: 30, dtype: float64, 1     54.039303
2   -103.235563
Name: 31, dtype: float64, 1    346.262264
2    364.269860
Name: 32, dtype: float64, 1    345.748182
2    142.021180
Name: 33, dtype: float64, 1     21.554286
2   -147.116281
Name: 34, dtype: float64, 1   -260.608328
2     72.202102
Name: 35, dtype: float64, 1    204.484317
2    330.677654
Name: 36, dtype: float64, 1    199.699473
2    150.826474
Name: 37, dtype: float64, 1   -130.065935
2     30.709869
Name: 38, dtype: float64, 1    267.528416
2     86.261601
Name: 39, dtype: float64, 1    190.601771
2     82.923476
Name: 40, dtype: float64, 1    110.888143
2    -78.934382
Name: 41, dtype: float64, 1    109.806492
2     83.641300
Name: 42, dtype: float64, 1    26.327986
2    95.671502
Name: 43, dtype: float64, 1     -9.623007
2   -105.281698
Name: 44, dtype: float64, 1    164.249644
2    137.283458
Name: 45, dtype: float64, 1    428.365285
2    234.255328
Name: 46, dtype: float64, 1    39.695222
2    -0.554377
Name: 47, dtype: float64, 1   -72.588048
2   -10.358426
Name: 48, dtype: float64, 1      4.043751
2    233.074084
Name: 49, dtype: float64, 1    194.396198
2     86.251344
Name: 50, dtype: float64, 1     27.231305
2    300.240658
Name: 51, dtype: float64, 1   -123.347760
2     50.191829
Name: 52, dtype: float64, 1    246.430133
2    218.540141
Name: 53, dtype: float64, 1     56.464801
2    116.121301
Name: 54, dtype: float64, 1    113.784706
2   -226.530396
Name: 55, dtype: float64, 1     38.042303
2   -135.728314
Name: 56, dtype: float64, 1    235.179888
2    256.155912
Name: 57, dtype: float64, 1    88.909786
2    39.987819
Name: 58, dtype: float64, 1    216.704430
2    278.850271
Name: 59, dtype: float64, 1    191.248384
2    186.835951
Name: 60, dtype: float64, 1    227.786326
2     -7.749366
Name: 61, dtype: float64, 1    230.331117
2    207.166219
Name: 62, dtype: float64, 1    288.621092
2    183.222283
Name: 63, dtype: float64, 1   -40.733489
2   -14.912812
Name: 64, dtype: float64, 1    123.384659
2    286.755470
Name: 65, dtype: float64, 1   -44.062831
2   -25.414034
Name: 66, dtype: float64, 1   -1327.983823
2   -1635.727487
Name: 67, dtype: float64, 1   -75.140826
2   -50.262078
Name: 68, dtype: float64, 1    131.131284
2    356.722148
Name: 69, dtype: float64, 1    231.716986
2    -71.337484
Name: 70, dtype: float64, 1     44.131318
2   -198.722268
Name: 71, dtype: float64, 1    292.252567
2    329.173557
Name: 72, dtype: float64, 1    38.999201
2    70.798530
Name: 73, dtype: float64, 1    64.973620
2    97.347669
Name: 74, dtype: float64, 1    104.570561
2    -74.691922
Name: 75, dtype: float64, 1    264.429150
2    155.629002
Name: 76, dtype: float64, 1   -195.723780
2     28.896356
Name: 77, dtype: float64, 1    216.344274
2    274.210163
Name: 78, dtype: float64, 1    -44.026838
2   -130.307315
Name: 79, dtype: float64, 1    279.708105
2    271.141134
Name: 80, dtype: float64, 1    150.563270
2     24.179139
Name: 81, dtype: float64, 1    234.485208
2    145.400558
Name: 82, dtype: float64, 1    172.006427
2    214.335794
Name: 83, dtype: float64, 1   -103.970667
2    -50.365398
Name: 84, dtype: float64, 1    297.689648
2    348.376199
Name: 85, dtype: float64, 1     25.370491
2    170.884225
Name: 86, dtype: float64, 1     55.273877
2   -129.671536
Name: 87, dtype: float64, 1    10.197905
2    78.688477
Name: 88, dtype: float64, 1    -83.732980
2    192.591996
Name: 89, dtype: float64, 1   -115.972320
2    -79.902013
Name: 90, dtype: float64, 1    -56.995654
2    182.697165
Name: 91, dtype: float64, 1    188.308068
2    208.291750
Name: 92, dtype: float64, 1   -63.894172
2   -22.528816
Name: 93, dtype: float64, 1    69.178378
2    50.239135
Name: 94, dtype: float64, 1     86.610554
2    296.140900
Name: 95, dtype: float64, 1    180.273331
2      0.981590
Name: 96, dtype: float64, 1    115.419823
2   -120.441444
Name: 97, dtype: float64, 1    57.296380
2    41.823695
Name: 98, dtype: float64, 1   -130.554786
2   -191.643384
Name: 99, dtype: float64, 1    228.904105
2    191.353996
Name: 100, dtype: float64, 1     95.599736
2    158.498516
Name: 101, dtype: float64, 1    85.982278
2   -21.222787
Name: 102, dtype: float64, 1   -98.457006
2    21.205073
Name: 103, dtype: float64, 1    -32.633108
2    258.342106
Name: 104, dtype: float64, 1     -5.942038
2    131.208018
Name: 105, dtype: float64, 1    163.046030
2    119.471138
Name: 106, dtype: float64, 1    234.467326
2    325.438811
Name: 107, dtype: float64, 1    114.057696
2    253.699314
Name: 108, dtype: float64, 1    25.154683
2    18.495603
Name: 109, dtype: float64, 1    91.270408
2    89.089065
Name: 110, dtype: float64, 1    209.929020
2    322.176553
Name: 111, dtype: float64, 1    168.855133
2    235.020093
Name: 112, dtype: float64, 1     40.514633
2    279.790141
Name: 113, dtype: float64, 1   -157.512271
2    -65.065441
Name: 114, dtype: float64, 1   -960.571811
2   -688.717883
Name: 115, dtype: float64, 1     45.087699
2   -151.148293
Name: 116, dtype: float64, 1   -73.760317
2    67.130136
Name: 117, dtype: float64, 1    301.735614
2    144.369778
Name: 118, dtype: float64, 1    78.268904
2    10.513979
Name: 119, dtype: float64, 1    373.302547
2    133.582794
Name: 120, dtype: float64, 1    11.544943
2   -72.654896
Name: 121, dtype: float64, 1    119.233034
2    258.945017
Name: 122, dtype: float64, 1    178.171520
2    -85.767724
Name: 123, dtype: float64, 1    214.889922
2    291.501996
Name: 124, dtype: float64, 1    238.135107
2    146.356813
Name: 125, dtype: float64, 1    364.456778
2    207.417520
Name: 126, dtype: float64, 1     27.086323
2   -247.011350
Name: 127, dtype: float64, 1    170.980550
2    211.767096
Name: 128, dtype: float64, 1   -1321.968235
2   -1811.919982
Name: 129, dtype: float64, 1    196.685882
2    212.375854
Name: 130, dtype: float64, 1   -132.302313
2    -87.842940
Name: 131, dtype: float64, 1    -25.461765
2    105.492523
Name: 132, dtype: float64, 1   -126.988451
2    119.385270
Name: 133, dtype: float64, 1    360.178613
2    301.651207
Name: 134, dtype: float64, 1    99.910033
2    75.592427
Name: 135, dtype: float64, 1    223.303449
2    433.402421
Name: 136, dtype: float64, 1   -89.146179
2   -81.447828
Name: 137, dtype: float64, 1    419.372695
2    238.368770
Name: 138, dtype: float64, 1   -60.926059
2    -7.419554
Name: 139, dtype: float64, 1    164.080517
2    371.363667
Name: 140, dtype: float64, 1    179.740394
2    279.291126
Name: 141, dtype: float64, 1    149.196123
2    290.065993
Name: 142, dtype: float64, 1    99.536530
2    69.472029
Name: 143, dtype: float64, 1    257.879558
2     -5.115945
Name: 144, dtype: float64, 1    250.168303
2    183.502190
Name: 145, dtype: float64, 1    130.045557
2    164.015960
Name: 146, dtype: float64, 1    121.854201
2     85.668024
Name: 147, dtype: float64, 1    268.400089
2    142.627271
Name: 148, dtype: float64, 1    170.460249
2    422.859832
Name: 149, dtype: float64, 1    70.743934
2   -95.384329
Name: 150, dtype: float64, 1    39.732127
2    73.465747
Name: 151, dtype: float64, 1    -62.028716
2   -167.367899
Name: 152, dtype: float64, 1    192.604662
2    -60.217406
Name: 153, dtype: float64, 1    271.528422
2    201.430487
Name: 154, dtype: float64, 1    207.088785
2    -35.998923
Name: 155, dtype: float64, 1     97.387170
2    149.339184
Name: 156, dtype: float64, 1    324.045745
2     85.773008
Name: 157, dtype: float64, 1     53.023250
2   -150.986377
Name: 158, dtype: float64, 1    35.037287
2    -8.763092
Name: 159, dtype: float64, 1     39.919465
2    171.162889
Name: 160, dtype: float64, 1     91.462304
2    164.049580
Name: 161, dtype: float64, 1    148.973480
2    223.506367
Name: 162, dtype: float64, 1    118.792571
2    213.253454
Name: 163, dtype: float64, 1    182.970321
2    233.294272
Name: 164, dtype: float64, 1    178.920503
2    333.916427
Name: 165, dtype: float64, 1    -58.789056
2    148.507702
Name: 166, dtype: float64, 1    141.779177
2     75.993275
Name: 167, dtype: float64, 1   -112.753936
2     11.371276
Name: 168, dtype: float64, 1    141.409989
2     86.160914
Name: 169, dtype: float64, 1    168.317517
2    361.059522
Name: 170, dtype: float64, 1   -72.721233
2    37.801670
Name: 171, dtype: float64, 1   -143.095410
2    -54.129367
Name: 172, dtype: float64, 1    35.850628
2    71.440967
Name: 173, dtype: float64, 1    237.292030
2    122.378681
Name: 174, dtype: float64, 1     21.748818
2    276.852467
Name: 175, dtype: float64, 1     24.529412
2   -139.656207
Name: 176, dtype: float64, 1    187.435423
2    164.823708
Name: 177, dtype: float64, 1   -28.447285
2    77.751315
Name: 178, dtype: float64, 1    265.125950
2    265.825922
Name: 179, dtype: float64, 1    207.297215
2    334.963116
Name: 180, dtype: float64, 1     21.366799
2   -130.015440
Name: 181, dtype: float64, 1    251.181382
2    147.633616
Name: 182, dtype: float64, 1    -74.396255
2    130.170109
Name: 183, dtype: float64, 1    107.590162
2    152.658830
Name: 184, dtype: float64, 1   -32.827130
2    75.143715
Name: 185, dtype: float64, 1   -219.224617
2    158.533099
Name: 186, dtype: float64, 1    98.715189
2   -82.810651
Name: 187, dtype: float64, 1     41.555037
2   -109.649052
Name: 188, dtype: float64, 1    55.291259
2    95.876902
Name: 189, dtype: float64, 1    457.764184
2    113.782477
Name: 190, dtype: float64, 1    333.664216
2     -3.820714
Name: 191, dtype: float64, 1     38.095307
2   -140.562775
Name: 192, dtype: float64, 1     74.436887
2    123.861458
Name: 193, dtype: float64, 1    222.218154
2    -25.413429
Name: 194, dtype: float64, 1    220.043491
2    290.840554
Name: 195, dtype: float64, 1   -67.680335
2    99.393887
Name: 196, dtype: float64, 1    236.881997
2    216.859478
Name: 197, dtype: float64, 1    308.619274
2    155.783303
Name: 198, dtype: float64, 1    105.950941
2     15.122741
Name: 199, dtype: float64, 1    435.130560
2    313.027968
Name: 200, dtype: float64, 1    249.888386
2    139.174905
Name: 201, dtype: float64, 1    192.355361
2   -157.173246
Name: 202, dtype: float64, 1    -699.505764
2   -1428.256621
Name: 203, dtype: float64, 1    -0.184986
2   -88.677617
Name: 204, dtype: float64]

In [258]:
ws = sum(an) * k / len(y)
print ws

1    7.324910
2    6.654294
dtype: float64

In [225]:
for i in range(len(y)):
    an.append(x.iloc[i,:]* y[i]*sum(1.0 - 1.0 / (1.0 + np.exp(-y * ((x * ws).sum(axis=1))) )))
print an

[1    37.249879
2     7.773215
Name: 0, dtype: float64, 1    111.924483
2    138.490428
Name: 1, dtype: float64, 1    69.996163
2   -42.053120
Name: 2, dtype: float64, 1    129.587938
2    106.607135
Name: 3, dtype: float64, 1     47.648722
2    135.108173
Name: 4, dtype: float64, 1    81.604778
2   -37.339054
Name: 5, dtype: float64, 1    126.493437
2    127.029797
Name: 6, dtype: float64, 1     3.792149
2   -82.439200
Name: 7, dtype: float64, 1    48.367967
2    46.285843
Name: 8, dtype: float64, 1     39.233639
2    114.050756
Name: 9, dtype: float64, 1     9.061266
2   -27.802285
Name: 10, dtype: float64, 1     8.254478
2   -23.547993
Name: 11, dtype: float64, 1    -4.505717
2    64.873087
Name: 12, dtype: float64, 1   -96.552644
2    60.640107
Name: 13, dtype: float64, 1     88.320863
2    100.187596
Name: 14, dtype: float64, 1   -65.565987
2    36.228197
Name: 15, dtype: float64, 1     3.738719
2    59.466487
Name: 16, dtype: float64, 1    65.280342
2    97.968471
Name: 17, dtype: float64, 1    117.669101
2     63.388346
Name: 18, dtype: float64, 1    170.345179
2    120.242932
Name: 19, dtype: float64, 1   -46.678442
2    34.048599
Name: 20, dtype: float64, 1   -728.234660
2   -256.611881
Name: 21, dtype: float64, 1    47.281724
2    60.394329
Name: 22, dtype: float64, 1    26.571981
2    41.214145
Name: 23, dtype: float64, 1   -86.436305
2    -9.422671
Name: 24, dtype: float64, 1   -27.795509
2    -3.745642
Name: 25, dtype: float64, 1    117.361386
2    143.090653
Name: 26, dtype: float64, 1    164.809515
2    182.976144
Name: 27, dtype: float64, 1    28.150469
2   -17.894079
Name: 28, dtype: float64, 1   -46.586112
2   -69.279351
Name: 29, dtype: float64, 1    21.892733
2    24.479639
Name: 30, dtype: float64, 1    29.583948
2   -56.516561
Name: 31, dtype: float64, 1    189.562121
2    199.420423
Name: 32, dtype: float64, 1    189.280686
2     77.749841
Name: 33, dtype: float64, 1    11.799947
2   -80.539167
Name: 34, dtype: float64, 1   -142.670665
2     39.527217
Name: 35, dtype: float64, 1    111.945438
2    181.030288
Name: 36, dtype: float64, 1    109.325964
2     82.570321
Name: 37, dtype: float64, 1   -71.204914
2    16.812193
Name: 38, dtype: float64, 1    146.459084
2     47.224124
Name: 39, dtype: float64, 1    104.345404
2     45.396659
Name: 40, dtype: float64, 1    60.705984
2   -43.212820
Name: 41, dtype: float64, 1    60.113832
2    45.789634
Name: 42, dtype: float64, 1    14.413320
2    52.375597
Name: 43, dtype: float64, 1    -5.268139
2   -57.636723
Name: 44, dtype: float64, 1    89.918868
2    75.156164
Name: 45, dtype: float64, 1    234.509621
2    128.243651
Name: 46, dtype: float64, 1    21.731246
2    -0.303495
Name: 47, dtype: float64, 1   -39.738504
2    -5.670745
Name: 48, dtype: float64, 1      2.213762
2    127.596976
Name: 49, dtype: float64, 1    106.422673
2     47.218509
Name: 50, dtype: float64, 1     14.907844
2    164.367481
Name: 51, dtype: float64, 1   -67.527032
2    27.477639
Name: 52, dtype: float64, 1    134.908778
2    119.640333
Name: 53, dtype: float64, 1    30.911793
2    63.570890
Name: 54, dtype: float64, 1     62.291715
2   -124.014618
Name: 55, dtype: float64, 1    20.826351
2   -74.304797
Name: 56, dtype: float64, 1    128.749803
2    140.233179
Name: 57, dtype: float64, 1    48.673879
2    21.891429
Name: 58, dtype: float64, 1    118.635369
2    152.657261
Name: 59, dtype: float64, 1    104.699394
2    102.283797
Name: 60, dtype: float64, 1    124.70218
2     -4.24241
Name: 61, dtype: float64, 1    126.095332
2    113.413652
Name: 62, dtype: float64, 1    158.006321
2    100.305486
Name: 63, dtype: float64, 1   -22.299648
2    -8.164055
Name: 64, dtype: float64, 1     67.547233
2    156.984982
Name: 65, dtype: float64, 1   -24.122304
2   -13.912975
Name: 66, dtype: float64, 1   -727.007984
2   -895.483004
Name: 67, dtype: float64, 1   -41.136028
2   -27.516097
Name: 68, dtype: float64, 1     71.788141
2    195.288410
Name: 69, dtype: float64, 1    126.854029
2    -39.053880
Name: 70, dtype: float64, 1     24.159798
2   -108.790990
Name: 71, dtype: float64, 1    159.994381
2    180.206867
Name: 72, dtype: float64, 1    21.350208
2    38.758828
Name: 73, dtype: float64, 1    35.569967
2    53.293219
Name: 74, dtype: float64, 1    57.247409
2   -40.890275
Name: 75, dtype: float64, 1    144.762384
2     85.199477
Name: 76, dtype: float64, 1   -107.149461
2     15.819381
Name: 77, dtype: float64, 1    118.438200
2    150.117023
Name: 78, dtype: float64, 1   -24.102600
2   -71.337057
Name: 79, dtype: float64, 1    153.126885
2    148.436875
Name: 80, dtype: float64, 1    82.426230
2    13.236929
Name: 81, dtype: float64, 1    128.369499
2     79.599890
Name: 82, dtype: float64, 1     94.165338
2    117.338653
Name: 83, dtype: float64, 1   -56.918996
2   -27.572660
Name: 84, dtype: float64, 1    162.970924
2    190.719400
Name: 85, dtype: float64, 1    13.889137
2    93.550986
Name: 86, dtype: float64, 1    30.259819
2   -70.988999
Name: 87, dtype: float64, 1     5.582868
2    43.078199
Name: 88, dtype: float64, 1    -45.839824
2    105.434958
Name: 89, dtype: float64, 1   -63.489330
2   -43.742552
Name: 90, dtype: float64, 1    -31.202410
2    100.018009
Name: 91, dtype: float64, 1    103.089711
2    114.029827
Name: 92, dtype: float64, 1   -34.979020
2   -12.333455
Name: 93, dtype: float64, 1    37.871872
2    27.503537
Name: 94, dtype: float64, 1     47.415159
2    162.123058
Name: 95, dtype: float64, 1    98.691075
2     0.537374
Name: 96, dtype: float64, 1    63.186864
2   -65.935962
Name: 97, dtype: float64, 1    31.367043
2    22.896484
Name: 98, dtype: float64, 1    -71.472536
2   -104.915638
Name: 99, dtype: float64, 1    125.314111
2    104.757212
Name: 100, dtype: float64, 1    52.336308
2    86.770400
Name: 101, dtype: float64, 1    47.071208
2   -11.618467
Name: 102, dtype: float64, 1   -53.900528
2    11.608769
Name: 103, dtype: float64, 1    -17.865075
2    141.430016
Name: 104, dtype: float64, 1    -3.252983
2    71.830150
Name: 105, dtype: float64, 1    89.259947
2    65.404766
Name: 106, dtype: float64, 1    128.359710
2    178.162271
Name: 107, dtype: float64, 1     62.441164
2    138.888308
Name: 108, dtype: float64, 1    13.770993
2    10.125463
Name: 109, dtype: float64, 1    49.966207
2    48.772026
Name: 110, dtype: float64, 1    114.926154
2    176.376340
Name: 111, dtype: float64, 1     92.440155
2    128.662323
Name: 112, dtype: float64, 1     22.179835
2    153.171795
Name: 113, dtype: float64, 1   -86.230477
2   -35.620235
Name: 114, dtype: float64, 1   -525.867381
2   -377.040285
Name: 115, dtype: float64, 1    24.683371
2   -82.746502
Name: 116, dtype: float64, 1   -40.380266
2    36.750557
Name: 117, dtype: float64, 1    165.185898
2     79.035587
Name: 118, dtype: float64, 1    42.848502
2     5.755904
Name: 119, dtype: float64, 1    204.365390
2     73.130227
Name: 120, dtype: float64, 1     6.320307
2   -39.775100
Name: 121, dtype: float64, 1     65.274415
2    141.760082
Name: 122, dtype: float64, 1    97.540433
2   -46.953750
Name: 123, dtype: float64, 1    117.642012
2    159.583479
Name: 124, dtype: float64, 1    130.367645
2     80.123394
Name: 125, dtype: float64, 1    199.522752
2    113.551227
Name: 126, dtype: float64, 1     14.828474
2   -135.226966
Name: 127, dtype: float64, 1     93.603719
2    115.932413
Name: 128, dtype: float64, 1   -723.714736
2   -991.940015
Name: 129, dtype: float64, 1    107.676166
2    116.265680
Name: 130, dtype: float64, 1   -72.429224
2   -48.089832
Name: 131, dtype: float64, 1   -13.939105
2    57.752139
Name: 132, dtype: float64, 1   -69.520137
2    65.357757
Name: 133, dtype: float64, 1    197.180660
2    165.139689
Name: 134, dtype: float64, 1    54.695991
2    41.383259
Name: 135, dtype: float64, 1    122.248018
2    237.267213
Name: 136, dtype: float64, 1   -48.803293
2   -44.588812
Name: 137, dtype: float64, 1    229.586605
2    130.495565
Name: 138, dtype: float64, 1   -33.354119
2    -4.061853
Name: 139, dtype: float64, 1     89.826279
2    203.303946
Name: 140, dtype: float64, 1     98.399317
2    152.898608
Name: 141, dtype: float64, 1     81.677781
2    158.797335
Name: 142, dtype: float64, 1    54.491516
2    38.032632
Name: 143, dtype: float64, 1    141.176793
2     -2.800737
Name: 144, dtype: float64, 1    136.955248
2    100.458722
Name: 145, dtype: float64, 1    71.193758
2    89.790937
Name: 146, dtype: float64, 1    66.709380
2    46.899169
Name: 147, dtype: float64, 1    146.936284
2     78.081647
Name: 148, dtype: float64, 1     93.318879
2    231.495646
Name: 149, dtype: float64, 1    38.728940
2   -52.218384
Name: 150, dtype: float64, 1    21.751450
2    40.219002
Name: 151, dtype: float64, 1   -33.957772
2   -91.625965
Name: 152, dtype: float64, 1    105.441892
2    -32.966166
Name: 153, dtype: float64, 1    148.648897
2    110.273611
Name: 154, dtype: float64, 1    113.371260
2    -19.707698
Name: 155, dtype: float64, 1    53.314844
2    81.756101
Name: 156, dtype: float64, 1    177.399634
2     46.956643
Name: 157, dtype: float64, 1    29.027708
2   -82.657861
Name: 158, dtype: float64, 1    19.181248
2    -4.797376
Name: 159, dtype: float64, 1    21.854008
2    93.703541
Name: 160, dtype: float64, 1    50.071261
2    89.809343
Name: 161, dtype: float64, 1     81.555895
2    122.359106
Name: 162, dtype: float64, 1     65.033283
2    116.746123
Name: 163, dtype: float64, 1    100.167549
2    127.717518
Name: 164, dtype: float64, 1     97.950466
2    182.803363
Name: 165, dtype: float64, 1   -32.184212
2    81.300904
Name: 166, dtype: float64, 1    77.617356
2    41.602704
Name: 167, dtype: float64, 1   -61.727417
2     6.225233
Name: 168, dtype: float64, 1    77.415244
2    47.169003
Name: 169, dtype: float64, 1     92.145835
2    197.662916
Name: 170, dtype: float64, 1   -39.811417
2    20.694616
Name: 171, dtype: float64, 1   -78.337931
2   -29.633254
Name: 172, dtype: float64, 1    19.626514
2    39.110532
Name: 173, dtype: float64, 1    129.906101
2     66.996507
Name: 174, dtype: float64, 1     11.906443
2    151.563559
Name: 175, dtype: float64, 1    13.428686
2   -76.455131
Name: 176, dtype: float64, 1    102.611980
2     90.233141
Name: 177, dtype: float64, 1   -15.573536
2    42.565147
Name: 178, dtype: float64, 1    145.143848
2    145.527050
Name: 179, dtype: float64, 1    113.485366
2    183.376375
Name: 180, dtype: float64, 1    11.697306
2   -71.177270
Name: 181, dtype: float64, 1    137.509861
2     80.822383
Name: 182, dtype: float64, 1   -40.728411
2    71.261944
Name: 183, dtype: float64, 1    58.900497
2    83.573449
Name: 184, dtype: float64, 1   -17.971292
2    41.137610
Name: 185, dtype: float64, 1   -120.015051
2     86.789332
Name: 186, dtype: float64, 1    54.041871
2   -45.334893
Name: 187, dtype: float64, 1    22.749407
2   -60.027641
Name: 188, dtype: float64, 1    30.269334
2    52.488044
Name: 189, dtype: float64, 1    250.604119
2     62.290495
Name: 190, dtype: float64, 1    182.665289
2     -2.091659
Name: 191, dtype: float64, 1    20.855369
2   -76.951434
Name: 192, dtype: float64, 1    40.750655
2    67.808257
Name: 193, dtype: float64, 1    121.653871
2    -13.912644
Name: 194, dtype: float64, 1    120.463346
2    159.221371
Name: 195, dtype: float64, 1   -37.051765
2    54.413426
Name: 196, dtype: float64, 1    129.681627
2    118.720250
Name: 197, dtype: float64, 1    168.954375
2     85.283949
Name: 198, dtype: float64, 1    58.003101
2     8.278982
Name: 199, dtype: float64, 1    238.213286
2    171.367925
Name: 200, dtype: float64, 1    136.802007
2     76.191642
Name: 201, dtype: float64, 1    105.305411
2    -86.044877
Name: 202, dtype: float64, 1   -382.946137
2   -781.902572
Name: 203, dtype: float64, 1    -0.101271
2   -48.546778
Name: 204, dtype: float64]

In [243]:
max_iter = 5
dist = np.power(10.0,-5)

In [221]:
def iter_grad(x,y,w,k,C,max_iter,dist):
    i = 0
    w2 = w
    while True:
        i+=1
        new_w_vec = grad_l2(x,y,w2,k,C)
        err = np.sqrt(sum((new_w_vec - w2)**2))
        print new_w_vec
        if i > max_iter or err <= dist:
            break
        else:
            w2 = new_w_vec
    return new_w_vec,i

In [222]:
new_w,i = iter_grad(x,y,w,k,C,max_iter,dist)

1    7.324910
2    6.654294
Name: 0, dtype: float64
1    4.01004
2    3.64291
Name: 0, dtype: float64
1    4.013973
2    3.646483
Name: 0, dtype: float64
1    4.013975
2    3.646484
Name: 0, dtype: float64

In [220]:
print new_w,i

1    4.013975
2    3.646484
Name: 0, dtype: float64 4

In [250]:
w_reg = iter_grad(x,y,w,k,C=0,max_iter=max_iter,dist=dist)

1    7.324910
2    6.654294
Name: 0, dtype: float64
1    7.324910
2    6.654294
Name: 0, dtype: float64
1    4.01004
2    3.64291
Name: 0, dtype: float64
1    11.334949
2    10.297204
Name: 0, dtype: float64
1    4.007162
2    3.640295
Name: 0, dtype: float64
1    15.342111
2    13.937499
Name: 0, dtype: float64
1    4.008676
2    3.641671
Name: 0, dtype: float64
1    19.350787
2    17.579170
Name: 0, dtype: float64
1    4.010244
2    3.643095
Name: 0, dtype: float64
1    23.361031
2    21.222265
Name: 0, dtype: float64
1    4.010790
2    3.643591
Name: 0, dtype: float64
1    27.371821
2    24.865856
Name: 0, dtype: float64

In [249]:
w_non_reg = iter_grad(x,y,w,k,C,max_iter,dist)

1    7.324910
2    6.654294
Name: 0, dtype: float64
1    7.324910
2    6.654294
Name: 0, dtype: float64
1    4.01004
2    3.64291
Name: 0, dtype: float64
1    4.01004
2    3.64291
Name: 0, dtype: float64
1    4.013973
2    3.646483
Name: 0, dtype: float64
1    4.013973
2    3.646483
Name: 0, dtype: float64
1    4.013975
2    3.646484
Name: 0, dtype: float64
1    4.013975
2    3.646484
Name: 0, dtype: float64

In [200]:
w_non_reg

(1    40026.434317
 2    36361.904832
 Name: 0, dtype: float64, 10001)

In [263]:
import math

In [265]:
def fw1(w1, w2, y, X, k, C):
    l = len(y)
    S = 0
    for i in xrange(0, l):
        S += y[i] * X[1][i] * (1.0 - 1.0 / (1.0 + math.exp(-y[i] * (w1*X[1][i] + w2*X[2][i]))))
    print 
    return w1 + (k * (1.0 / l) * S) - k * C * w1


def fw2(w1, w2, y, X, k, C):
    l = len(y)
    S = 0
    for i in xrange(0, l):
        S += y[i] * X[2][i] * (1.0 - 1.0 / (1.0 + math.exp(-y[i] * (w1*X[1][i] + w2*X[2][i]))))

    return w2 + (k * (1.0 / l) * S) - k * C * w2

In [261]:
def grad(y, X, C=0.0, w1=0.0, w2=0.0, k=0.1, err=1e-5):
    i = 0
    i_max = 5
    w1_new, w2_new = w1, w2

    while True:
        i += 1
        w1_new, w2_new = fw1(w1, w2, y, X, k, C), fw2(w1, w2, y, X, k, C)
        e = math.sqrt((w1_new - w1) ** 2 + (w2_new - w2) ** 2)
        print w1_new, w2_new
        if i >= i_max or e <= err:
            break
        else:
            w1, w2 = w1_new, w2_new

    return [w1_new, w2_new]

In [264]:
grad(y,x,10.0)

0.0357312663987 0.0324599712784
0.026699107896 0.0227535111259
0.0290573890545 0.0253264344672
0.0284265663766 0.0246353271515
0.0285949364271 0.0248197816817

[0.028594936427109398, 0.024819781681715947]